@(disciplinas: List[Disciplina]) 
@import helper._ 
@import helper.twitterBootstrap._ 
@main("GraCHa:Grafo de Conectividade de Competencias e Habilidades") {

<section class="intro-section">
       <div class="container">
       		<div class="row">
                <div class="col-lg-12"><h1>Disciplinas</h1></div>
            </div>
		</div>
		
		<table class="table table-bordered table-condensed ">
			<tr>
				<td><b>Periodo</b></td>
				<td><b>Disciplinas</b></td>
				<td> <a class="btn btn-primary btn-xs" href="@routes.DisciplinaController.novo">Novo</a>
				</td>
			</tr>
				@for(disciplina <- disciplinas) {
					<tr>
						<td>@disciplina.getPeriodo().getNome()</td>
						<td>@disciplina.getNome()</td>
						<td>
							<a class="btn btn-primary btn-xs" href="@routes.DisciplinaController.editar(disciplina.getId())">Editar</a>
							<a class="btn btn-primary btn-xs" href="@routes.DisciplinaController.excluir(disciplina.getId())">Excluir</a>
						</td>
					</tr>
					
				}
		</table>
    </section>
}

