
@main("GraCHa:Grafo de Conectividade de Competências e Habilidades") {
	   <section class="intro-section">
       <div class="container">
       		<div class="row">
                <div class="col-lg-12" id="skillgraph"></div>
            </div>
		</div>
    </section>
   
   <section class="success" id="sobre">
		<div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Sobre</h1>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><br>GRaCHa (Grafo de Conectividade de Competências e Habilidades) é uma iniciativa do comissão de interdisciplinaridade do IFES/Serra na tentativa de entender a relação entre as disciplinas ministradas no curso de Bacharelado de Sistema de Informação, deste campus.</p>
                </div>
                <div class="col-lg-4">
                    <p><br>Através do GRaCha alunos e professores poderam entender e aprender a relação entre as disciplinas ministradas. Dessa forma, os alunos podem entender a relação entre as competências aprendidas nas disciplinas e os professores podem entender como a sua disciplina influência outras disciplinas.</p>
                </div>
                <br>
                <br>
                <br>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download do GRaCha em RDF e CSV
                    </a>
                </div>
            </div>
        </div>
    </section>
	  

 	
}
